<div class="blank" style="padding-top: 0px;"></div>
<div id="content" class="site-content">
  <% if (theme.notice) { %>
  <div class="notice" style="margin-top:60px">
    <i class="iconfont icon-notification">
    </i>
    <div class="notice-content"><%= theme.notice%></div>
  </div>
  <% } %>
  <%- partial('_partial/startdash') %>
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <h1 class="main-title" style="font-family: 'Ubuntu', sans-serif;">
      <i class="fa fa-envira" aria-hidden="true"></i>
      Discovery</h1>
      <%- partial('_partial/archive', {pagination: 2, index: true}) %>
    </main>
      <!-- 首页默认取最最新文章集 -->
    <!-- <% if (page.total > 1){ %>
      <nav class="navigator">
        <% var prev_text = __('prev');var next_text = __('next');%>
        <%- paginator({
          prev_text: prev_text,
          next_text: next_text
        }) %>
      </nav>
    <% } %> -->
  </div>
  <% if (page.total > 1 && page.next_link){ %>
    <div id="pagination"><a href="<%- url_for(page.next_link) %>" class="">Previous</a></div>
  <% } %>
</div>

<!--预加载背景图片-->
<link rel="preload" href="https://tva2.sinaimg.cn/large/0072Vf1pgy1foxkf8h7q7j31hc0u0k55.jpg" as="image">
<link rel="preload" href="https://tva2.sinaimg.cn/large/007gk3UJgy1gq8t631397j31hc0u0tns.jpg" as="image">
<link rel="preload" href="https://tva2.sinaimg.cn/large/007gk3UJgy1gq8t68qfa2j31hc0u0n64.jpg" as="image">
<link rel="preload" href="https://tva2.sinaimg.cn/large/007gk3UJgy1gq8t6fzb05j32mb1lqb2e.jpg" as="image">
<link rel="preload" href="https://tva2.sinaimg.cn/large/007gk3UJgy1gq8t6uh3dnj31hc0wukjn.jpg" as="image">
<link rel="preload" href="https://tva2.sinaimg.cn/large/007gk3UJgy1gq8t76jbqfj31z4140npf.jpg" as="image">
<link rel="preload" href="https://tva2.sinaimg.cn/large/007gk3UJgy1gq8t7c5kt6j31hc0u04qq.jpg" as="image">
<link rel="preload" href="https://tva2.sinaimg.cn/large/007gk3UJgy1gq8t7hjcy2j31hc0u0x6p.jpg" as="image">