<div class="headertop <%- theme.bgclass %>">
  <div id="banner_wave_1"></div>
  <div id="banner_wave_2"></div>
  <figure id="centerbg" class="centerbg">
    <div class="focusinfo no-select">
      
      <div class="header-tou">
        <a href="<%- theme.url%>">
          <img src="<%- (theme.cdn || '') + theme.avatar %>">
        </a>
      </div>    <!--首页图像-->

      
      <div class="header-tou">
        <h1 id="TextHeader" class="center-text glitch is-glitching Ubuntu-font" data-text="柏林秩序井然">柏林秩序井然</h1>
      </div>    <!--添加首页文字-->
     
      
      <div class="header-info">
        <p><%= theme.description %></p>
        <div class="top-social_v2">
          <li id="bg-pre">
            <img class="flipx" src="https://cdn.jsdelivr.net/gh/LoeKoyori/cdn@2.0/img/other/next-b.svg">
          </li>
          <% if (theme.social) {%>
            <% for (i in theme.social) {%>
              <% if (theme.social[i].qrcode) {%>
                <li class="wechat">
                  <a href="<%= theme.social[i].url%>">
                    <img src="<%- (theme.cdn || '') + theme.social[i].img%>">
                  </a>
                  <div class="wechatInner">
                    <img src="<%- (theme.cdn || '') + theme.social[i].qrcode%>">
                  </div>
                </li>
              <% } else { %>
                <li>
                  <a href="<%= theme.social[i].url%>" target="_blank" class="social-github" title="<%- i %>">
                    <img src="<%- (theme.cdn || '') + theme.social[i].img%>">
                  </a>
                </li>
              <% } %>
            <% } %>
          <% } %>
          <li id="bg-next">
            <img src="https://cdn.jsdelivr.net/gh/LoeKoyori/cdn@2.0/img/other/next-b.svg">
          </li>
        </div>
      </div>
    </div>
  </figure>
  <div id="video-container" style="">
    <video style="object-fit: fill" id="bgvideo" class="video" video-name="" src="" width="auto" preload="auto">
    </video>
    <div id="video-btn" class="loadvideo videolive">
    </div>
    <div id="video-add">
    </div>
    <div class="video-stu">
    </div>
  </div>
  <script> 
   if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
     var object2 = document.getElementById('TextHeader'); //通过id获取器获取对应元素
     if (object2 != null){
        object2.parentNode.removeChild(object2);     //删除对应的元素信息
     }
     var object3 = document.getElementById('video-container'); //通过id获取器获取对应元素
     if (object3 != null){
        object3.style.display = 'none';     //隐藏对应的元素
     }
   } 
  </script> 
  <div class="headertop-down faa-float animated" onclick="headertop_down()">
    <span>
      <i class="fa fa-chevron-down" aria-hidden="true">
      </i>
    </span>
  </div>
</div>